<!-- index.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">

      <h1>All Cocktails</h1>

      <img src="/assets/Ali_logo.png" alt="Ali & Cocktails" width="200">

      <ul class="list-group">
        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
